magazine/c-t 5-19- P. 134 - Fritzbox/call-alarm.json
[{"id":"62aff020.e27138","type":"fritzbox-callmonitor","z":"f55dfee0.3d52a","device":"f80c9836.abbe08","name":"","topic":"","x":180,"y":360,"wires":[["a9b07c0e.ec3ab8"]]},{"id":"d3341672.f6b388","type":"mqtt out","z":"f55dfee0.3d52a","name":"","topic":"zigbee2mqtt/Lampe/set","qos":"","retain":"","broker":"c0bb0e5d.94f8d","x":1110,"y":360,"wires":[]},{"id":"761fbcbf.27986c","type":"switch","z":"f55dfee0.3d52a","name":"Richtige Nummer?","property":"payload.callee","propertyType":"msg","rules":[{"t":"eq","v":"123456","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":360,"wires":[["bc905b72.5361a"]]},{"id":"bc905b72.5361a","type":"change","z":"f55dfee0.3d52a","name":"Hue Blinken lassen","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alert\": \"lselect\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[["d3341672.f6b388"]]},{"id":"851cb102.69333","type":"comment","z":"f55dfee0.3d52a","name":"Optischer Anruf-Hinweis","info":"","x":190,"y":320,"wires":[]},{"id":"a9b07c0e.ec3ab8","type":"switch","z":"f55dfee0.3d52a","name":"Eingehender Anruf?","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"INBOUND","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":360,"wires":[["761fbcbf.27986c"]]},{"id":"f80c9836.abbe08","type":"fritzbox-config","z":"","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true},{"id":"c0bb0e5d.94f8d","type":"mqtt-broker","z":"","name":"MQTT","broker":"mother","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
