magazine/c-t 5-19- P. 134 - Fritzbox/fritz-plug-temp-power
[{"id":"5fb32371.4cf27c","type":"inject","z":"f55dfee0.3d52a","name":"","topic":"","payload":"{\"NewAIN\":\"1234 1234\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":720,"wires":[["996e6147.75396"]]},{"id":"996e6147.75396","type":"fritzbox-in","z":"f55dfee0.3d52a","device":"f80c9836.abbe08","name":"","service":"urn:dslforum-org:service:X_AVM-DE_Homeauto:1","action":"GetSpecificDeviceInfos","arguments":"{\"NewAIN\":\"value\"}","x":360,"y":720,"wires":[["1dece51.7093c9b"]]},{"id":"f14f4561.b2c3d","type":"ui_text","z":"f55dfee0.3d52a","group":"df96cda8.b3afb8","order":10,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":720,"wires":[]},{"id":"1dece51.7093c9b","type":"template","z":"f55dfee0.3d52a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Power usage: {{payload.NewMultimeterPower}}\nTemperature: {{payload.NewTemperatureCelsius}}","output":"str","x":520,"y":720,"wires":[["f14f4561.b2c3d"]]},{"id":"f80c9836.abbe08","type":"fritzbox-config","z":"","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true},{"id":"df96cda8.b3afb8","type":"ui_group","z":"","name":"Schlafzimmer","tab":"b1e9e8c2.7f392","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1e9e8c2.7f392","type":"ui_tab","z":"","name":"Dashboard","icon":"settings_power","order":1}]
