magazine/c-t 5-19- P. 134 - Fritzbox/guest-wifi-password.json
[{"id":"aa37b56e.3c3e88","type":"fritzbox-in","z":"f55dfee0.3d52a","device":"f80c9836.abbe08","name":"Gäste-WLAN Passwort setzen","service":"urn:dslforum-org:service:WLANConfiguration:1","action":"SetSecurityKeys","arguments":"{\"NewWEPKey0\":\"value\",\"NewWEPKey1\":\"value\",\"NewWEPKey2\":\"value\",\"NewWEPKey3\":\"value\",\"NewPreSharedKey\":\"value\",\"NewKeyPassphrase\":\"value\"}","x":770,"y":380,"wires":[[]]},{"id":"6bd30a33.617b9c","type":"comment","z":"f55dfee0.3d52a","name":"Gäste-WLAN-Passwort","info":"","x":160,"y":340,"wires":[]},{"id":"eef3f16b.bda26","type":"ui_button","z":"f55dfee0.3d52a","name":"Neues Gäste-WLAN-Passwort","group":"3d638c26.a26804","order":10,"width":0,"height":0,"passthru":false,"label":"Neues Gäste-WLAN-Passwort","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":380,"wires":[["69fa7884.18cc48"]]},{"id":"69fa7884.18cc48","type":"function","z":"f55dfee0.3d52a","name":"Zufälliges Passwort","func":"function gen_pw() {\n  var text = \"\";\n  var possible = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n  for (var i = 0; i < 15; i++)\n    text += possible.charAt(Math.floor(Math.random() * possible.length));\n\n  return text;\n}\n\nvar new_pw = gen_pw()\n\nmsg.pw = new_pw\nmsg.payload = {\n                \"NewWEPKey0\":\"\",\n                \"NewWEPKey1\":\"\",\n                \"NewWEPKey2\":\"\",\n                \"NewWEPKey3\":\"\",\n                \"NewPreSharedKey\":\"\",\n                \"NewKeyPassphrase\": new_pw\n            }\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["aa37b56e.3c3e88","ecc8edf9.27039"]]},{"id":"ecc8edf9.27039","type":"ui_text","z":"f55dfee0.3d52a","group":"3d638c26.a26804","order":1,"width":0,"height":0,"name":"Passwort-Anzeige","label":"Gäste-WLAN-Passwort","format":"{{msg.pw}}","layout":"col-center","x":730,"y":420,"wires":[]},{"id":"f80c9836.abbe08","type":"fritzbox-config","z":"","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true},{"id":"3d638c26.a26804","type":"ui_group","z":"","name":"Rest","tab":"9100aee7.f3e15","order":3,"disp":true,"width":"6","collapse":false},{"id":"9100aee7.f3e15","type":"ui_tab","z":"","name":"Dashboard","icon":"settings_power","order":1}]
