magazine/c-t 5-19- P. 134 - Fritzbox/guest-wifi.json
[{"id":"31b07781.2a6778","type":"fritzbox-in","z":"3876b190.308b1e","device":"8865754b.3590b8","name":"G채ste-WLAN-Konfiguration","service":"urn:dslforum-org:service:WLANConfiguration:3","action":"SetEnable","arguments":"{\"NewEnable\":\"value\"}","x":1740,"y":440,"wires":[["4a171c43.c73604"]]},{"id":"4a171c43.c73604","type":"fritzbox-in","z":"3876b190.308b1e","device":"8865754b.3590b8","name":"G채ste-WLAN Status","service":"urn:dslforum-org:service:WLANConfiguration:1","action":"GetInfo","arguments":"{}","x":960,"y":440,"wires":[["1f8b95b3.06cefa"]]},{"id":"444f1880.8c4dd8","type":"inject","z":"3876b190.308b1e","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"10","x":760,"y":440,"wires":[["4a171c43.c73604"]]},{"id":"45820898.6e9518","type":"ui_switch","z":"3876b190.308b1e","name":"","label":"G채ste-WLAN Schalter","tooltip":"","group":"ce10d1d9.e47f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"NewEnable\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"NewEnable\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":1320,"y":440,"wires":[["831ad306.2c6b6"]]},{"id":"831ad306.2c6b6","type":"json","z":"3876b190.308b1e","name":"Konvertierung","property":"payload","action":"","pretty":true,"x":1520,"y":440,"wires":[["31b07781.2a6778"]]},{"id":"1f8b95b3.06cefa","type":"template","z":"3876b190.308b1e","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"NewEnable\":\"{{payload.NewEnable}}\"}","output":"str","x":1140,"y":440,"wires":[["45820898.6e9518"]]},{"id":"35d2a05a.08c34","type":"comment","z":"3876b190.308b1e","name":"G채ste-WLAN","info":"","x":750,"y":400,"wires":[]},{"id":"8865754b.3590b8","type":"fritzbox-config","z":"","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true},{"id":"ce10d1d9.e47f","type":"ui_group","z":"","name":"Rest","tab":"825c2da.2b80ed","order":3,"disp":true,"width":"6","collapse":false},{"id":"825c2da.2b80ed","type":"ui_tab","z":"","name":"Dashboard","icon":"settings_power","order":1}]
