magazine/c-t 5-19- P. 134 - Fritzbox/presence-detection.json
[{"id":"b9859aff.a85028","type":"fritzbox-in","z":"3876b190.308b1e","device":"8865754b.3590b8","name":"","service":"urn:dslforum-org:service:Hosts:1","action":"GetSpecificHostEntry","arguments":"{\"NewMACAddress\":\"value\"}","x":950,"y":320,"wires":[["8d6e2a24.70d788"]]},{"id":"abb1fc34.7847d","type":"inject","z":"3876b190.308b1e","name":"Ein Handy","topic":"","payload":"{\"NewMACAddress\":\"00:80:41:ae:fd:7e\"}","payloadType":"json","repeat":"180","crontab":"","once":true,"onceDelay":"10","x":780,"y":320,"wires":[["b9859aff.a85028"]]},{"id":"5a2ff890.dcfed8","type":"mqtt out","z":"3876b190.308b1e","name":"Jemand zu Hause?","topic":"user/Anyone/present","qos":"0","retain":"true","broker":"aaacf235.d430c","x":1290,"y":320,"wires":[]},{"id":"8d6e2a24.70d788","type":"change","z":"3876b190.308b1e","name":"Move","rules":[{"t":"move","p":"payload.NewActive","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":320,"wires":[["5a2ff890.dcfed8"]]},{"id":"9423cc0d.f851c","type":"comment","z":"3876b190.308b1e","name":"Präsenzerkennung","info":"","x":770,"y":280,"wires":[]},{"id":"8865754b.3590b8","type":"fritzbox-config","z":"","name":"Fritzbox","host":"fritz.box","port":"49443","ssl":true},{"id":"aaacf235.d430c","type":"mqtt-broker","z":"","name":"MQTT","broker":"mother","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
